<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TestMapper">
<!--  resultMap是结果集映射，type指定返回类型-->
<!--  column是查询列，property是类型属性-->
  <resultMap id="BaseResultMap" type="org.example.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,username,password,nickname,email,age,head,create_time
    from user where id=#{id}
  </select>

</mapper>