<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myblog.dao.UserMapper">
    <insert id="reg">
        insert into userinfo(loginname,password)
        values(#{loginname},#{password})
    </insert>

    <select id="getUserByLoginName" resultType="com.example.myblog.model.UserInfo">
        select * from userinfo
        where loginname=#{loginname}
    </select>

</mapper>