<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gerenblog.mapper.UserMapper">

    <insert id="add">
        insert into userInfo(username,password)
        values(#{username},#{password})
    </insert>
    <select id="login" resultType="com.example.gerenblog.model.UserInfo">
        select * from userinfo where
        username=#{username} and password=#{password}
    </select>
</mapper>